<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <!--jquery-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <!-- goods_detail.js   -->
    <script type="text/javascript" th:src="@{/js/goods_detail.js}"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading"><center><h2>秒杀商品详情</h2></center></div>
    <table class="table">
        <tr>
            <td>商品名称：</td>
            <td colspan="3" th:text="${goodsVo.goodsName}"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="3"><img th:src="@{${goodsVo.goodsImg}}" th:width="200" th:height="200" /></td>
        </tr>
        <tr>
            <td>秒杀开始时间：</td>
            <td th:text="${#dates.format(goodsVo.startDate,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <input type="hidden" id="remainSecond" th:value="${remainSecond}" />
                <span th:if="${miaoshaStatus eq 0}">秒杀倒计时：<span id="countDown" th:text="${remainSecond}"></span>秒</span>
                <span th:if="${miaoshaStatus eq 1}">秒杀进行中</span>
                <span th:if="${miaoshaStatus eq 2}">秒杀已结束</span>
            </td>
            <td>
                <form method="post" action="/miaosha/doMiaosha">
                    <button class="btn btn-primary btn-block" type="submit" id="buyButton">立即秒杀</button>
                    <input type="hidden" name="goodsId" th:value="${goodsVo.id}">
                </form>
            </td>
        </tr>
        <tr>
            <td>商品原价：</td>
            <td colspan="3" th:text="${goodsVo.goodsPrice}">元</td>
        </tr>
        <tr>
            <td>秒杀价：</td>
            <td colspan="3" th:text="${goodsVo.miaoshaPrice}">元</td>
        </tr>
        <tr>
            <td>库存数量：</td>
            <td colspan="3" th:text="${goodsVo.stockCount}">件</td>
        </tr>
    </table>
</div>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</body>

</html>