<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <th:block th:include="includes/common :: common"></th:block>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading"><center><h2>秒杀商品列表</h2></center></div>
    <table class="table">
        <tr>
            <td>商品名称：</td>
            <td>商品图片</td>
            <td>商品原价：</td>
            <td>秒杀价：</td>
            <td>库存数量：</td>
            <td>详情</td>
        </tr>
        <!--/*@thymesVar id="goodsList" type=""*/-->
        <tr th:each="goods:${goodsList}">
            <td th:text="${goods.goodsName}"></td>
            <td><img th:src="@{${goods.goodsImg}}" th:width="100" th:height="100" /></td>
            <td th:text="${goods.goodsPrice}">元</td>
            <td th:text="${goods.miaoshaPrice}">元</td>
            <td th:text="${goods.stockCount}">件</td>
            <td><a th:href="'/goods/toDetail/'+${goods.id}">详情</a> </td>
        </tr>
    </table>
</div>
<th:block th:include="includes/IE8 :: IE8"></th:block>
</body>
</html>