<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秒杀详情</title>
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading"><center><h2>秒杀订单详情</h2></center></div>
    <table class="table">
        <tr>
            <td>商品名称：</td>
            <td colspan="3" th:text="${goodsVo.goodsName}"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="2"><img th:src="@{${goodsVo.goodsImg}}" th:width="200" th:height="200" /></td>
        </tr>
        <tr>
            <td>订单价格：</td>
            <td colspan="2" th:text="${orderInfo.goodsPrice}">元</td>
        </tr>
        <tr>
            <td>下单时间：</td>
            <td colspan="2" th:text="${#dates.format(orderInfo.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>订单状态：</td>
            <td>
                <span th:if="${orderInfo.status eq 0}">未支付</span>
                <span th:if="${orderInfo.status eq 1}">待发货</span>
                <span th:if="${orderInfo.status eq 2}">已发货</span>
                <span th:if="${orderInfo.status eq 3}">已收货</span>
                <span th:if="${orderInfo.status eq 4}">已退款</span>
                <span th:if="${orderInfo.status eq 5}">已完成</span>
            </td>
            <td><button class="btn btn-primary btn-block" type="submit" id="payButton">立即支付</button></td>
        </tr>
        <tr>
            <td>收货人：</td>
            <td colspan="2" th:text="${miaoshaUser.nickname}"></td>
        </tr>
        <tr>
            <td>收货人电话：</td>
            <td colspan="2" th:text="${orderInfo.userId}"></td>
        </tr>
        <tr>
            <td>收货地址：</td>
            <td colspan="2">安徽省阜阳市</td>
        </tr>
    </table>
</div>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>