<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册页面</title>
    <th:block th:include="includes/common :: common"></th:block>
    <th:block th:include="includes/head :: head"></th:block>
    <!--register.js-->
    <!--/*@thymesVar id="HOST_CDN" type=""*/-->
    <script type="text/javascript" th:src="@{{HOST_CDN}/js/register.js(HOST_CDN=${HOST_CDN})}"></script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a>秒杀项目</a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">欢迎注册</p>

        <form name="registerForm" id="registerForm" method="post">

            <div class="form-group has-feedback">
                <input id="mobile" name="mobile" type="text" class="form-control focus" placeholder="请输入手机号" required="true"  minlength="11" maxlength="11" />
            </div>
            <div class="form-group has-feedback">
                <input id="nickname" name="nickname" type="text" class="form-control focus" placeholder="请输入昵称" required="true" minlength="6" maxlength="16" />
            </div>
            <div class="form-group has-feedback">
                <input id="password" name="password" type="password" class="form-control focus" placeholder="请输入密码" required="true" minlength="6" maxlength="16" />
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="reset" class="btn btn-primary btn-block btn-flat">重置</button>
                </div>
                <div class="col-xs-4" style="float: right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" th:onclick="'javascript:register()'">注册</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <a th:href="@{http://localhost:8080/login/toLogin}">返回</a><br>
    </div>
</div>
<th:block th:include="includes/IE8 :: IE8"></th:block>
<th:block th:include="includes/foot :: foot"></th:block>
</body>
</html>