<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccgydx.spring.boot.speed.kill.system.mapper.GoodsMapper">

  <sql id="listGoodsVo">
        g.id,
        g.goods_name As goodsName,
        g.goods_title AS goodsTitle,
        g.goods_img AS goodsImg,
        g.goods_detail AS goodsDetail,
        g.goods_price AS goodsPrice,
        g.goods_stock AS goodsStock,
        mg.miaosha_price AS miaoshaPrice,
        mg.stock_count AS stockCount,
        mg.start_date AS startDate,
        mg.end_date AS endDate
    </sql>

    <sql id="goodsVo">
        LEFT JOIN goods g ON mg.goods_id = g.id
    </sql>

    <select id="listGoodsVo" resultType="com.ccgydx.spring.boot.speed.kill.system.domain.povo.GoodsVo">
      SELECT
          <include refid="listGoodsVo" />
      FROM
          miaosha_goods mg
        <include refid="goodsVo" />
    </select>

    <select id="getGoodsVoByGoodsId" parameterType="long" resultType="com.ccgydx.spring.boot.speed.kill.system.domain.povo.GoodsVo">
        SELECT
          <include refid="listGoodsVo" />
        FROM
          miaosha_goods mg
        <include refid="goodsVo" />
        where g.id=#{goodsId}
    </select>

</mapper>