<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="foot">
<!--jquery-->
<!--/*@thymesVar id="HOST_CDN" type=""*/-->
<script type="text/javascript" th:src="@{{HOST_CDN}/js/jquery.min.js(HOST_CDN=${HOST_CDN})}"></script>

<!--bootstrap-->
<script type="text/javascript" th:src="@{{HOST_CDN}/bootstrap/js/bootstrap.min.js(HOST_CDN=${HOST_CDN})}"></script>
<!--jquery-validator-->
<script type="text/javascript" th:src="@{{HOST_CDN}/jquery-validation/jquery.validate.min.js(HOST_CDN=${HOST_CDN})}"></script>
<script type="text/javascript" th:src="@{{HOST_CDN}/jquery-validation/localization/messages_zh.min.js(HOST_CDN=${HOST_CDN})}"></script>
<!--layer-->
<script type="text/javascript" th:src="@{{HOST_CDN}/layer/layer.js(HOST_CDN=${HOST_CDN})}"></script>
<!--md5.js-->
<script type="text/javascript" th:src="@{{HOST_CDN}/js/md5.min.js(HOST_CDN=${HOST_CDN})}"></script>
<!--common.js-->
<script type="text/javascript" th:src="@{{HOST_CDN}/js/common.js(HOST_CDN=${HOST_CDN})}"></script>
</body>
</html>